body {
  padding-top: 107px;
}
.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
              0 4px 8px rgba(0, 0, 0, 0.5);
}
#home-quote {
  background: url('../img/bg-quote.jpg');
}

@media (max-width: 767px) {
  .display-4 {
    font-size: 3rem;
  }
  body {
    padding: 0px;
  }
  .fixed-top {
    position: relative;
  }
}
.display-4 {
  font-weight: 400 !important;
}
.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2)
}
.lista-plano li {
  padding: 1rem;
}
.font-size li, .font-size li a {
  font-size: 20px;
}